/*Convencion Buenas Practicas
    1. Posicionamiento (static, absolute, relative, fixed)
    2. Modelo de Caja (Box model margin, padding, tamaño)
    3. Tipografia (fUentes)
    4. Tema visuales (radio box,shadow box)
    5. Otros (Nuevas reglas de CSS) 
*/
:root {
  /* Variables de Colores */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black-1: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  /* Tamaño y tipo de fuente base */
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/*Esta sección es parte del CSS del footer*/
footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.right img {
  width: 125px;
  height: 125px;
  /* border-radius: 50px; */
}
.left li {
  margin: 10px 0;
}
.left a {
  text-decoration: none;
  color: var(--just-white);
}
