/*Convencion Buenas Practicas
    1. Posicionamiento (static, absolute, relative, fixed)
    2. Modelo de Caja (Box model margin, padding, tamaño)
    3. Tipografia (fUentes)
    4. Tema visuales (radio box,shadow box)
    5. Otros (Nuevas reglas de CSS) 
*/
:root {
    /* Variables de Colores */
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black:#201E1C;
    --warm-black-1:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    /* Tamaño y tipo de fuente base */
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/*Estilos Cuerpo*/
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container .backgroundImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url("./assets/img/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-exchange-container--title h2 {
  
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
  text-align: center;
}

.main-exchange-container--title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575; 
}

.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
  font-family: "Inter",sans-serif;
}

.main-currency-table .currency-table--title {
  margin-bottom: 12px;
  font-family: "DM Sans";
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.4rem;
  color: #FF9536;
  text-align: center;
}

.currency-table--container {
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  height: 230px;
  margin: 0 auto;
}

.currency-table--container table {
  width: 100%;
  height: 100%;
}

.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  color: #B5B0AC;
  background-color: var(--just-white);
}

.currency-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}

.currency-table--container .table__right{
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table--container .down {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--container .up {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("./assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--warm-black-1);
}

.main-commissions-table {
  font-family: "Inter",sans-serif;
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 0 auto;
}

.main-commissions-table .commissions-table--title{
  margin-bottom: 12px;
  font-size: 1.8rem;
  font-family: "DM Sans";
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--secondary-blue);
  text-align: center;
}

.commissions-table--container {
  width: 90%;
  min-width: 200px;
  max-width: 300px;
  height: 230px;
  margin: 0 auto;
}

.commissions-table--container table {
  width: 100%;
  height: 100%;
}

.commissions-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color:#B5B0AC;
  background-color: var(--just-white);
}

.commissions-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}

.commissions-table--container .table__top-right{
  border-radius: 0 15px 0 0;
}

.commissions-table--container .table__bottom-left{
  border-radius: 0 0 0 15px;
}

.commissions-table--container .table__bottom-right{
  border-radius: 0 0 15px 0;
}

.commissions-table--container .table__right{

  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.commissions-table--date{

  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;  
  padding: 8px;
  border-radius: 8px;
  background-color: var(--soft-blue);
}

.commissions-table--date p {
  font-family: "Inter";
  font-size: 1.2rem;
  line-height: 1.4rem;
}